#col-1 {
	float: left;
	width: 100px;
	display: inline-block;
	margin-right: 10px;
}

.time {
	text-align: right;
}

.hour {
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 9px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #585858;
}

.meridium, .half-hour {
	display: inline-block;
	color: grey;
	margin-top: 9px;
	margin-bottom: 9px;
	font-size: 9px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

#col-2 {
	float: left;
	position: relative;
	top: 15px;
	width: 620px;
	height: 720px;
	display: inline-block;
	background-color: lightgrey;
	border: 1px solid grey;
}

.event {
	position: absolute;
	border: 1px solid grey;
	border-left: 5px solid #3b5998;
	background-color: #E8E8E8;
}

.event-title {
	margin-top: 1px;
	margin-left: 5px;
	margin-bottom: 1px;
	font-size: 11px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: #3b5998;
}

.event-location {
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-size: 9px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.full {
	left: 10px;
	width: 594px;
}

.left {
	left: 10px;
	width: 289px;
}

.right {
	left: 315px;
	width: 289px;
}